.atas {
    width: 100%;
    height: 12%;
    float: top;
    background: red;
}
.kiri{
    width:25%;
    height:100%;
    float:left;
    background: blue;
}
.kanan{
    width:75%;
    height:100%;
    float:right;
    background: green;
}
